<ion-view view-title="个人中心" class = "member" >
  <ion-content>
  <div class = 'list member_info'>
    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
      <img ng-src="img/ico_member.png">
      <h2 class = "member_name">18814188379</h2>
      <p>会员等级<span class = "member_leval">普通会员</span></p>
       <p>余额<span class = "member_money">¥18.00</span></p>
    </ion-item>
  </div>
  <div class="list">
    <a href="#/tab/memberNoOrders">
      <div class="item item-icon-left item-icon-right">
         <i class="icon ion-compose"></i>
         <h2>代付订单</h2>
         <i class="icon ion-ios-arrow-right"></i>
      </div>
    </a>
    <a href="#/tab/memberOrders">
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-document-text"></i>
        <h2>全部订单</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </a>
    <a href="#/tab/memberReceiver">
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-map"></i>
        <h2>地址管理</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </a>
    <a href="#/tab/memberCoupon">
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-pricetag"></i>
        <h2>我的优惠券</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </a>
    <a href="#/tab/memberBalance">
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-card"></i>
        <h2>账户余额</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </a>

  </div>
  </ion-content>
</ion-view>
